* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}
button {
  background-color: white;
  border: none;
}
.searchButton {
  background-color: white;
  border: none;
  padding: 1%;
  width: 30%;
  font-size: 1.1em;
}
.searchbar {
  font-size: 1.1em;
  width: 70%;
}
.addStockButton {
  font-size: 1.1em;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.innerModal {
  border: 1px gray solid;
  background-color: white;
  padding-left: 1%;
}
.openModal {
  display: flex;
  flex-basis: 100%;
  padding: 1%;
}
.modalTitle {
}
.modalInfo {
  padding-bottom: 2%;
  font-size: 1.3em;
}
.closeModal {
  justify-self: flex-end;
  background-color: white;
  font-size: 25px;
  width: 30px;
  height: 30px;
}
.closeModal:hover {
  background-color: red;
  color: white;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.modalTop {
  display: flex;
  justify-content: space-between;
}
/* ////////////////////////////////Display///////////////////////////////////*/
.inputContainer {
  width: 12%;
}
.displayContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}
.displayItem {
}

/* //////////////////////////////////////////////watchlist and stockwatch/////////////////////////////////////*/
.watchListContainer {
  border: 1px #8a8a8a solid;
  width: 30%;
  margin-top: 4%;
}
.stockWatchContainer {
  border-bottom: 1px #8a8a8a solid;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 0;
}
.stockWatchInfo {
  padding-left: 1%;
}
.deleteStockButton {
  background-color: white;
  border: none;
  width: 10%;
}
.deleteStockButton:hover {
  background-color: red;
  color: white;
}
/* ///////////////////////////////////////////////////////////////////////////////////*/

.headerContainer {
  background-color: black;
  color: white;
}
